@{
    ViewBag.Title = "Pay#";
}

<div class="jumbotron">
    <h1>PaySharp</h1>
    <p class="lead">Simple payment wrappers to jumpstart start your e-commerce applications.</p>
    <p><a href="https://github.com/vladjerca/PaySharp" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>PayPal</h2>
        <p><a class="btn btn-default" href="@Url.Action("PaypPal", "Home")">Test Payment</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skrill</h2>
        <p><a class="btn btn-default" href="@Url.Action("Skrill", "Home")">Test Payment</a></p>
    </div>
    <div class="col-md-4">
        <h2>WePay</h2>
        <p><a class="btn btn-default" href="@Url.Action("WePay", "Home")">Test Payment</a></p>
    </div>
</div>